$df-fs: 16;
$mobi-fs: 16;
$mw-tablet: 1024px;
$mw-mobile: 991px;
$screen-mobile: 991px;
$screen-mw-desktop: ($screen-mobile + 1);



// b-color
$black: #2C2C2C;
$primary-b-color: #081E64;
$light-blue: #2C52A2;
$C-3771D8: #3771D8;
$red: #E03C31;
$white: #FFFFFF;
$text-black: #1B1B1B;
$C-C2C2C2: #C2C2C2;
$C-777676: #777676;
$C-717171: #717171;
$C-B3D7F2: #B3D7F2;
$C-2C52A2: #2C52A2;
$C-949494: #949494;
$C-BABABA: #BABABA;
$C-B3D7F2: #B3D7F2;
$C-EDEDED: #EDEDED;
$C-5F5F60: #5F5F60;
$C-B3D7F2: #B3D7F2;
$C-919191: #919191;
$yellow: #FFBB1D;
$dark-gray: rgba(0, 0, 0, 0.6);
